.ListeDossiers {
  display: flex;
  list-style: none;
  padding: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;

  .listeVide {
    display: block;
    background-color: darkcyan;
    width: 300px;
    height: 350px;
    margin: 10px;
    color: #fff;
    font-size: 1.5em;
    padding: 20px 15px;

    p:last-child {
      font-size: 4em;
      margin: 0 auto;
      text-align: center;
    }
  }
}